= render 'users/header'
- @posts.each do |post|
  .main_contents
    = link_to "/posts/#{post.id}", method: :get do
      = image_tag "#{post.image}"
    .main_contents_data
      .main_contents_data_name
        = @nickname
      .main_contents_data_place
        = post.place
    .main_contents_text
      = simple_format(post.text)
= render 'posts/footer'