= form_with(model: @post, local: true) do |form|
  = render "header"
  .new_posts
    .new_posts_title
      編集
    .new_posts_data
      .new_posts_data_image
        = form.text_field :image, placeholder: "picture"
      .new_posts_data_text
        = form.text_area :text, autofocus: true, placeholder: '旅の想い出'
      .new_posts_data_place
        = form.text_area :place, autofocus: true, placeholder: '行き先'
    .new_posts_btn
      = form.submit "投稿する"
= render "footer"